/* App.css */

.App {
  /*  */
  min-height: 100vh;
  /* as grid container */
  display: grid;
  grid-template-columns: 1fr min(80ch, 100%) 1fr;
  grid-template-rows: [header-start] 10vh [main-start] 1fr [footer-start] 10vh;
  /* debug */
  /* background-color: ; */
}
