/* App.css */

.page-header,
.page-footer {
  /* size */
  height: 10vh;
  /* debug */
  background-color: whitesmoke;
}

.page-header {
  /* as flex container */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* - css curve -
  header > div {
  width: 90%;
  flex: 0 0 80%;
  background-color: white;
  border-radius: 32px 32px 0 0;
} */

main {
  margin: 10px 0;
  /* as grid container */
  display: grid;
  grid-template-columns: 1fr min(80ch, 100%) 1fr;
  /* grid-auto-rows: ...; */
  justify-items: center; /* default: stretch */
  row-gap: 1rem;
  /* debug */
  /* background-color: lightgoldenrodyellow; */
}

.row {
  /* as grid item */
  grid-column: 2;
  width: 100%;
  height: 100%;
  /* as flex container */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* will be applied to wrapped lines */
  /* debug */
  /* background-color: lightgreen; */
  border-width: 0 1px;
  border-style: dashed;
}

/* able to grow only */
/* .row > * {
  flex: 1 0; 
  min-width: min(30ch, 100%);
  border: solid thin;
} */

/* .row > div:nth-child(even) {
  background-color: dodgerblue;
}
.row > div:nth-child(odd) {
  background-color: tomato;
} */


