/* Article.css */

.article-block {
  /* size constraints */
  min-width: 30ch;
  max-width: 45ch;
  min-height: 30ch;
  max-height: 45ch;
  /* size */
  /* ... */
  /* as flex container */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* debug */
  background: hotpink;
}

.article-block > * {
  width: 100%;
  /* as flex child */
  flex: 1 0;
}

.article-header {
  /* debug */
  background: forestgreen;
}

.article-content {
  /* debug */
  background: gold;
}

.article-footer {
  /* debug */
  background: firebrick;
}
