/* index.css */
html {
  box-sizing: border-box;
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

* {
  box-sizing: inherit;
  margin: 0;
}

body {
  /* theme */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* size */
  min-height: 100vh;
}
