/* index.css */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
}

body {
  /* theme */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* size */
  min-height: 100vh;
  /* as flex container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
